#foot_nav_container
{
    text-align: center;
    line-height : 17px;
}
#footer {
  width: 100%;
}
#loghead
{
  font-size:x-small;
}
#register
{
  vertical-align: middle;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#middle .form-control
{
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

#loginpageheaderbutton
{
    line-height : 11px;
}

body {
    padding-bottom: 120px;
}

#registerform
{
    line-height : 12px;
}

#placeholder {
    width: 500px;
    height: 300px;
}

#errhead
{
    line-height : 40px;
    font-size:medium;
}

#loginlogo 
{
	font-family: Futura;
	font-size: 88px;
	color: #B00404; 
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 96px;
}

#signup
{
    color: #fff;
}

#signup_black
{
    color: #000;
}

#footer_nav 
{
  background-color: #C8C7C7;
  border-color: #C8C7C7;
  
}
#footer_nav .navbar-brand {
  color: #000000;
}

.my-btn
{
  color: #fff;
  background-color: #B00404;
  
}

.my-btn:hover { 
    color: white;
}

.dropdown-menu {
    width: 230px !important;
}
#helpabout {
    list-style-type: none;
}