.container-fluid
{
    background: rgba(166, 172, 175, 0.3);
}
.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #CCC;
    min-height: 400px;
}

#top
{
    width: 100%;
    background-color: #a6acaf;
    color: #ffffff;
}
#middle
{
    /*background-color: #a6acaf;*/
    background: rgba(166, 172, 175, 0.3);
}

#bottom
{
    /*background-color: #a6acaf;*/
    background: rgba(166, 172, 175, 0.3);
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#current
{
  background:#4F9E47;
  color:#B20000;
  font-weight: bold;
  margin-right:0px;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}